@charset "UTF-8";
html {
    background-color: rgb(196, 168, 133);
    font-family: Arial, Helvetica, sans-serif;
}
div {
    display: flex;
    justify-content: center;
}
section {
    width: 900px;
    background-color: rgb(77, 75, 75);
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    text-align: justify;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
}
h1 {
    font-size: 1.8em;
    color: rgb(80, 187, 80);
    text-align: center;
}
p {
    font-family: 1.5em;
    color: rgb(197, 179, 167);
}
span {
    color: rgb(122, 14, 14);
}
u {
    color: #205ea5;
}
span#spa {
    color: #963f1db2;
}