@charset "UTF-8";
html {
    background-color: rgb(222, 200, 177);
    font-family: Arial, Helvetica, sans-serif;
}
div {
    display: flex;
    justify-content: center;
}
section {
    width: 900px;
    background-color: rgb(134, 134, 134);
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
}
img.rau {
    width: 650px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
}
h1 {
    font-size: 1.8em;
    color: rgb(15, 116, 15);
    text-align: center;
}
h2 {
    color: rgb(14, 85, 14);
    text-align: center;
}
h3 {
    color: rgb(14, 88, 14);
    text-align: center;
}
p {
    font-family: 1.5em;
    color: rgb(204, 215, 224);
}
span {
    color: rgb(150, 16, 16);
}
u {
    color: #0e5eb9;
    text-decoration-style: double;
}
span.m {
    color: #772403c5;
}
span#p {
    color: #dea9ff;
}
span.v {
    color: rgb(22, 87, 22);
}
span.a {
    color: #0e5eb9;
}